
@model List<Category>
@{
    ViewBag.Title = "Kategori Sayfası";
}

<section class="panel">
    <header class="panel-heading">
        Kategori Listesi
    </header>
    <div class="panel-body">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Kategori Adı</th>
                        <th>Kategori Açıklaması</th>
                        <th class="hidden-phone">Veri Durumu</th>
                        <th class="hidden-phone">Güncelleme</th>
                        <th class="hidden-phone">Silme</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Category item in Model)
                    {
                        <tr class="gradeX">
                            <td>@item.ID</td>
                            <td>@item.CategoryName</td>
                            <td>@item.Description</td>
                            <td class="hidden-phone">@item.Status</td>
                            <td class="center hidden-phone">  @Html.ActionLink("Güncelle", "UpdateCategory", new { id = item.ID }, new { @class = "btn btn-warning" })     </td>
                            <td class="center hidden-phone">  @Html.ActionLink("Sil", "DeleteCategory", new { id = item.ID }, new { @class = "btn btn-danger" })        </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<script type="text/javascript">
    /* Formating function for row details */
    function fnFormatDetails(oTable, nTr) {
        var aData = oTable.fnGetData(nTr);
        var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
      
        sOut += '<tr><td>Kategori Acıklaması:</td><td> ' + aData[3] + '   </td></tr>';
     sOut += '<tr><td>Kategori Guncelle:</td><td><a href="/Administrator/Category/UpdateCategory/' + aData[1] + '">' + aData[2] + ' </a>  </td></tr>';
       /* sOut += '<tr><td>Link to source:</td><td>Could provide a link here</td></tr>';
        sOut += '<tr><td>Extra info:</td><td>And any further details here (images etc)</td></tr>';*/
        sOut += '</table>';
        return sOut;
    }
    $(document).ready(function () {
        /*
         * Insert a 'details' column to the table
         */
        var nCloneTh = document.createElement('th');
        var nCloneTd = document.createElement('td');
        nCloneTd.innerHTML = '<img src="/OuterTools/FlatAdmin/assets/advanced-datatable/examples/examples_support/details_open.png">';
        nCloneTd.className = "center";
        $('#hidden-table-info thead tr').each(function () {
            this.insertBefore(nCloneTh, this.childNodes[0]);
        });
        $('#hidden-table-info tbody tr').each(function () {
            this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
        });
        /*
         * Initialse DataTables, with no sorting on the 'details' column
         */
        var oTable = $('#hidden-table-info').dataTable({
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] }
            ],
            "aaSorting": [[1, 'asc']]
        });
        /* Add event listener for opening and closing details
         * Note that the indicator for showing which row is open is not controlled by DataTables,
         * rather it is done here
         */
        $('#hidden-table-info tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];
            if (oTable.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "/OuterTools/FlatAdmin/assets/advanced-datatable/examples/examples_support/details_open.png";
                oTable.fnClose(nTr);
            }
            else {
                /* Open this row */
                this.src = "/OuterTools/FlatAdmin/assets/advanced-datatable/examples/examples_support/details_close.png";
                oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
            }
        });
    });</script>
